{
  "project_info": {
    "project_number": "REPLACE_WITH_FIREBASE_PROJECT_NUMBER",
    "project_id": "REPLACE_WITH_FIREBASE_PROJECT_ID",
    "storage_bucket": "REPLACE_WITH_FIREBASE_STORAGE_BUCKET"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_WITH_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.purawale.app"
        }
      },
      "oauth_client": [
        {
          "client_id": "REPLACE_WITH_WEB_OAUTH_CLIENT_ID",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_FIREBASE_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
